<% include ../partials/header %>
<div class="container">
   <h1>Registration Page</h1>

    <form action="/register" method="POST">
        <input type = "test" name = "username" placeholder = "username">
        <input type = "password" name = "password" placeholder = "password"> 
        <button>submit</button>
    </form>
    
    <a href="/login">Login</a>
    <a href="/logout">Log out</a> 
</div>

<%include ../partials/footer %>